@import "./../_variables.scss";
@import "./../_mixin.scss";

.advancedAccountInfo-container {
    padding-top: $padding-container;
    padding-bottom: $padding-container;
}

.transaction-card {
    .card-body {
        h5 {
            margin-bottom: 20px;
        }

        .transaction-form {

            fieldset {
                position: relative;
                margin-bottom: 25px;
                display: grid;
                grid-template-columns: 40% auto;
                column-gap: 15px;

                label {
                    min-width: 50%;
                    justify-self: flex-end;
                }

                input {
                    border: 1px solid #9CA3AF;
                    width: 100%;
                    justify-self: flex-start;
                }

                .autocomplete-items {
                    position: absolute;
                    border: 1px solid #d4d4d4;
                    border-bottom: none;
                    border-top: none;
                    z-index: 99;
                    /* расположите элементы автозаполнения так, чтобы они имели ту же ширину, что и контейнер: */
                    top: 100%;
                    left: calc(40% + 15px);
                    right: 0;

                    & div {
                        padding: 10px;
                        cursor: pointer;
                        background-color: #fff;
                        border-bottom: 1px solid #d4d4d4;
                    }
                }
            }

            .send-transaction-button-wrapper {
                padding-left: 40%;
            }
        }
    }
}

.balance-dynamic-card {
    cursor: pointer;
}

.history-card {
    cursor: pointer;
}