@import "./../_variables.scss";
@import "./../_mixin.scss";

.signIn-container {
    position: absolute;
    width: 500px;
    height: 366px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: $color-gray-light;
    padding: 20px;
    border-radius: 20px;

    h1 {
        margin: 0;
        margin-bottom: 35px;
        padding-top: 50px;
        padding-left: calc(20% + 15px);        
    }

    form {
       
        padding-left: 40px;
        padding-right: 85px;

        fieldset {
            position: relative;

            display: flex;
            flex-direction: column;
            row-gap: 25px;

            div {
                display: grid;
                grid-template-columns: 20% auto;
                grid-template-rows: 1fr;

                label {
                    margin-right: 20px;
                    grid-column: 1 / span 1;
                    justify-self: flex-end;
                }

                input {
                    grid-column: 2 / span 1;

                    border: 1px solid #9CA3AF;
                    width: 100%;
                    justify-self: flex-start;
                }
            }

            div:last-child {
                margin-bottom: 30px;
            }

        }

        .buttons {
            padding-left: calc(20% );  
        }

    }
}