.header {
    margin-bottom: 45px;
    color: white;
    background-color: blue;
}

.header-row {
    min-height: 90px;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: inline-block;

        font-family: 'workSans';
        font-weight: 300;
        font-size: 48px;
    }
}

.header-buttons-list {
    @include list-reset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    .header-btn {
        font-size: 16px;
    }
}