$color-gray-light: #EBEBEB;
$color-gray1: #E5E5E5;
$color-secondary-red: red;

$color-brand-primary-1: #116ACC;

$color-brand-secondary-2: #B3CEE2;
$color-brand-secondary-4: #FD4E5D;

$color-state-info:#2F80ED;

$color-shadow: #D7D7D7;


//
$padding-container: 20px; 