@import "./_variables.scss";
@import "./_mixin.scss";
@import "./_header.scss";
@import "./pages/_accountsPage.scss";
@import "./pages/_advancedAccountInfo.scss";
@import "./pages/_fullAccountInfo.scss";
@import "./pages/_currencyPage.scss";
@import "./pages/_ATMs.scss";
@import "./pages/_loginPage.scss";

.button {
    @include button;
}

.button-primary {
    background-color: $color-brand-primary-1;
    color: white;
}

.header-btn {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-color: white;
    color: $color-brand-primary-1;
}

.page-button {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-color: $color-brand-primary-1;
    color: white;
    border-radius: 0;
    border: 1px solid $color-brand-secondary-2;
}




// account advanced info
.history-table {
    .history-table__head {
        tr {
            border: none;
        }
    }

    .history-table__body {
        tr {
            border-color: $color-state-info;
        }

        .transaction-amount--green {
            color: green;
        }

        .transaction-amount--red {
            color: $color-secondary-red;
        }
    }
}